html {
  height: 100%;
}

html,
body,
#root {
  display: flex;
  flex: 1 1 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: orange;
  word-break: break-word;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 0;
}
